.header {
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: column;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.body{
    padding-top:200px;
    padding-bottom:50px;
    padding-left:100px;
    padding-right:100px;
}
.section{
    padding-bottom:50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.img{
}
.text{
    text-align:left;

}
